[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
pipenv = "*"
psycopg2-binary = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "*"
